{% extends 'base.jinja2' %}

{% block subtitle %}New Donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for="donor_name">Select Donor</label>
    <select id="donor_name" name="donor_name">
    {% for donor in donors %}
        <option value={{ donor.name }}>{{ donor.name }}</option>
    {% endfor %}
    </select>
    <br>
    <label for="donation_amount">Donation Amount:</label>
    <input type="text" id= "donation_amount" name="donation_amount">
    <br>
    <input type="submit" value="Submit Donation">
</form>
{% endblock content %}
